<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  

        <Form id="new-post-form" action="add-news" method="POST">
                <div class="form-item">
                  <h5>Title of Post:
                <input type="text" name="headline" />
                   </div>
                  <div class="form-item">
                    <h5>Post Body:</h5>
                <input id="form-item--content" type="text" name="content" />  
                  </div>
                  <button type="submit">Post it</button>
                          </form>

</body>
</html>