<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
     
       <article th:each="review : ${reviews}">
                <div id="content-padding">
              <div id="text-spacing">
                    <a th:href="@{|/reviews/${review.id}|}"><h2 th:text="${review.gameBeingReviewed}"></h2></a>
              </div>
              <div id="text-spacing">
                </div>
     
            </article>




</body>
</html>