<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    <Form action="write-review" method="POST">

            <div class="form-item">
                    <h5>Game Name:
                  <input type="text" name="gameBeingReviewed"/>
                     </div>


        <div class="form-item">
          <h5>Title of Review:
        <input type="text" name="reviewTitle"/>
           </div>

           <h5>Author:
                <input type="text" name="reviewAuthor"/>
                   </div>

          <div class="form-item">
            <h5>Review Content:</h5>

        <input id="form-item--content" type="text" name="reviewArticle"/>  
          </div>
          <button type="submit">Post it</button>
                  </form>


</body>
</html>